<div class="grid">
  <h1 class="gallery-title">POSTRES</h1>

  <div class="grid-item">
    <img class="gallery-img" src="../../../assets/img/postres/345645154_974256334006392_8665403891397666562_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 1</p>
  </div>
  <div class="grid-item">
    <img class="gallery-img" src="../../../assets/img/postres/375047632_322688573618717_8454480527428843734_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 2</p>
  </div>
  <div class="grid-item">
    <img class="gallery-img" src="../../../assets/img/postres/372036077_322688496952058_3566180155402532702_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 3</p>
  </div>
  <div class="grid-item">
    <img class="gallery-img" src="../../../assets/img/postres/448276507_481672384387001_5541003035743138720_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 4</p>
  </div>
  <div class="grid-item">
    <img class="gallery-img" src="../../../assets/img/postres/372036077_322688496952058_3566180155402532702_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 5</p>
  </div>
  <div class="grid-item">
    <img class="gallery-img" src="../../../assets/img/postres/375047632_322688573618717_8454480527428843734_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 6</p>
  </div>
</div>
