/* Estilos generales */
body {
  font-family: Arial, sans-serif;

}
.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(204, 47, 47); /* Color de fondo del contenedor */
  max-width: 2070px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;

}


.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el logo y el texto */
}

.logo-img {
  width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
}

.titulo {
  color: white; /* Color del texto del título */
  font-weight: bold; /* Negrita para el título */
  font-size: 20px; /* Tamaño del texto del título */
}

.nav-menu {
  display: flex;
  gap: 15px;
}

.nav-menu a {
  text-decoration: none;
  color: white; /* Color del texto del menú */
  font-size: 20px; /* Tamaño de fuente de los enlaces */
  font-weight: bold; /* Peso de fuente para enlaces */
  padding: 8px 12px; /* Espaciado interno para enlaces */
  transition: all 0.3s; /* Transición suave para todos los cambios */
}

.nav-menu a:hover {
  color: rgb(204, 47, 47); /* Color del texto en hover */
  background-color: white; /* Fondo del enlace en hover */
  font-size: 18px; /* Tamaño de fuente más grande en hover */
  border-radius: 4px; /* Bordes redondeados para un efecto más estilizado */
}

/* Estilos para el botón de hamburguesa */
.nav-toggle {
  display: none; /* Ocultar el botón de hamburguesa en pantallas grandes */
  font-size: 24px;
  background: none;
  border: none;
  color: white; /* Color del icono del botón */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .container{
    position:sticky;
  }
  .nav-menu {
    display: none; /* Ocultar el menú de navegación por defecto */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajusta esto según el tamaño de tu header */
    left: 0;
    width: 100%;
    background: rgba(204, 20, 20, 0.6); /* Fondo del menú desplegable */
    padding: 10px;
    gap: 10px;
    z-index: 1000; /* Asegúrate de que el menú esté por encima de otros elementos */
  }

  .nav-menu.active {
    display: flex; /* Mostrar el menú cuando la clase active esté aplicada */
  }

  .nav-toggle {
    display: block; /* Mostrar el botón de hamburguesa en pantallas pequeñas */
  }
}

