<header>
  <div class="container flex items-center justify-between">
    <div class="logo">
      <a href="../../page/inicio/inicio.component.html" class="flex items-center">
        <img src="../../../assets/img/logo_L-removebg.png" alt="Logo" class="logo-img">
      </a>
      <span class="text-white titulo font-bold">Explosion del sabor</span>
    </div>
    <button class="nav-toggle" aria-label="Toggle navigation menu"
            (click)="toggleMenu()">
      &#9776;
    </button>
    <nav class="nav-menu" [class.active]="menuOpen">
      <a href="#">Fritos</a>
      <a href="#">Delicias Navideñas</a>
      <a href="#">Postres</a>
      <a href="#">Matrimonios y anchetas</a>
      <a href="#">Contacto</a>
    </nav>
  </div>
</header>
