
  <div class="container flex items-center justify-between">
    <div class="logo">
      <a href="" class="flex items-center">
        <img src="../../../assets/img/logo_L-removebg.png" alt="Logo" class="logo-img">
      </a>
      <span class="text-white titulo font-bold">Explosion del sabor</span>
    </div>
    <button class="nav-toggle" aria-label="Toggle navigation menu"
            (click)="toggleMenu()">
      &#9776;
    </button>
    <nav class="nav-menu" [class.active]="menuOpen">
      <a href="Fritos">Fritos</a>
      <a href="Delicias Navideñas">Delicias Navideñas</a>
      <a href="Postres">Postres</a>
      <a href="Matrimonios y anchetas">Matrimonios y anchetas</a>
      <a href="https://wa.me/1234567890" target="_blank">Contacto</a>
    </nav>
  </div>

