<h1 class="gallery-title">MATRIMONIOS Y ANCHETAS</h1>

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/anchetas/408769140_371052822115625_5109374304114275031_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 1</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/anchetas/IMG_20221127_181116.jpg" alt="">
    <p class="image-description">Descripción de la imagen 2</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/anchetas/IMG_20221127_180331.jpg" alt="">
    <p class="image-description">Descripción de la imagen 3</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/anchetas/IMG_20221127_181116.jpg" alt="">
    <p class="image-description">Descripción de la imagen 4</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/anchetas/1000000687 - copia.jpg" alt="">
    <p class="image-description">Descripción de la imagen 5</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/anchetas/1000000725 - copia (2).jpg" alt="">
    <p class="image-description">Descripción de la imagen 6</p>
  </div>
</div>
<app-whatsapp></app-whatsapp>
