/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Estilos del header */
.header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1rem;
}

.nav-menu a:hover {
  text-decoration: underline;
}

/* Estilos del hero */
.hero {
  background: url("https://example.com/hero-background.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 4rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.cta-button {
  background: #ff5722;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background: #e64a19;
}

/* Estilos de las secciones */
section {
  padding: 1rem;
  background: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  flex: 1;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 62, 14, 0.34);
}

.menu-item h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.letra {
  font-size: 20px;
  text-align: justify;
  word-spacing: 0.5em;
}

/* Estilos del contacto */
.contact {
  text-align: center;
}

.contact p {
  margin-bottom: 1rem;
}

.contact a {
  background: #ff5722;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.contact a:hover {
  background: #e64a19;
}

/* Estilos del footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Estilos de la galería */
.gallery {
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.gallery h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.gallery p {
  font-size: 1.25rem;
  margin-bottom: 6rem;
}

/* Estilos de la cuadrícula de imágenes */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;

}

/* Estilos de los ítems de la galería */
.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(121, 26, 26, 0.9);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%; /* Asegura que todos los elementos tengan la misma altura */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para el efecto de resalte */
}

.gallery-item img {
  width: 100%;
  height: 100%; /* Ajusta la altura de las imágenes para que tengan un tamaño uniforme */
  object-fit: cover; /* Mantiene la proporción de la imagen y la ajusta al contenedor */
  display: block;
}

.gallery-item p {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  color: #ffffff;
  background-color: rgba(121, 26, 26, 0.8);
  width: 100%; /* Asegura que el párrafo ocupe el ancho completo del contenedor */
}

/* Estilo del enlace de los ítems de la galería */
.gallery-item-link {
  display: block; /* Asegura que el enlace ocupe el espacio completo del contenedor */
  text-decoration: none; /* Quita el subrayado del enlace */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el efecto de resalte */
}

.gallery-item-link:hover .gallery-item {
  transform: scale(1.05); /* Escala el elemento al pasar el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra para el efecto de resalte */
}

/* Estilos de la sección Sobre Nosotros */
.sobre-nosotros {
  padding: 50%;
  margin-left: 100%;
}

/* Estilos de la cuadrícula de logotipo principal */
.logo-principal {
  display: grid;
  grid-template-columns: auto 1fr; /* Dos columnas: una para la imagen y otra para el texto */
  gap: 16px; /* Espacio entre la imagen y el texto */
  align-items: center; /* Alinea verticalmente los elementos */
}

.logo-img {
  max-width: 100%; /* Asegura que la imagen no se desborde */
  height: auto; /* Mantiene la proporción de la imagen */
}

.text-content {
  text-align: left;
  background-color: rgba(121, 26, 26, 0.9);
  border-radius: 20px;
}

.text-content h1, p {
  color: #fff;
}

/* Estilos para títulos y párrafos */
h1 {
  margin-bottom: 30px; /* Margen inferior de 30px */
  font-size: 1.5rem; /* Tamaño de fuente para el título */
  font-weight: bold; /* Hace el título en negrita */
  text-align: center; /* Centra el texto horizontalmente */
}

hr {
  height: 15px; /* Ajusta la altura (grosor) del <hr> */
  background-color: rgb(229, 235, 230); /* Opcional: Cambia el color de la línea */
  border: none; /* Elimina cualquier borde predeterminado */
}

p {
  margin: 30px; /* Margen alrededor del párrafo */
  font-size: 3rem; /* Tamaño de fuente para el párrafo */
  text-align: justify; /* Justifica el texto */
}

/* Medios de consulta para dispositivos móviles y tabletas */
@media (max-width: 1024px) {
  .header {
    padding: 0.75rem 0;
  }

  .logo-img {
    width: 40px;
    height: 40px;
  }

  .logo-text {
    font-size: 1.25rem;
  }

  .nav-menu a {
    font-size: 0.875rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .gallery h1 {
    font-size: 2rem;
  }

  .gallery p {
    font-size: 1rem;
  }
}

.gallery-item-link {
  display: block; /* Asegura que el enlace ocupe el espacio completo del contenedor */
  text-decoration: none; /* Quita el subrayado del enlace */
  transition: transform 0.2s ease, box-shadow 0.1s ease; /* Transición suave para el efecto de resalte */
}


@media (max-width: 1023px) {
  .header {
    text-align: center;
  }

  .logo {
    flex-direction: column;
    align-items: center; /* Centra el contenido en la columna */
  }

  .logo-img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px; /* Añade margen inferior */
  }

  .logo-text {
    font-size: 1rem;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu a {
    margin: 0.5rem 0;
  }

  .hero-content h1 {
    font-size: 1.75rem;
  }

  .hero-content p {
    font-size: 0.875rem;
  }

  .gallery h1 {
    font-size: 1.75rem;
  }

  .gallery p {
    font-size: 0.875rem;
  }

  /* Estilos específicos para el logo, título y párrafo en dispositivos móviles */
  .logo-principal {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    text-align: center; /* Centra el texto horizontalmente */
  }

  .logo-img {
    margin: 0 auto 10px; /* Centra la imagen y añade margen inferior */
  }

  .text-content h1 {
    font-size: 1.5rem; /* Ajusta el tamaño del título para pantallas pequeñas */
    margin-bottom: 10px; /* Ajusta el margen inferior del título */
  }

  .text-content p {
    font-size: 1rem;
    padding: 15px;/* Ajusta el tamaño del párrafo para pantallas pequeñas */
    margin: 0; /* Ajusta el margen del párrafo */
  }
}
.gallery-item-link {
  display: block; /* Asegura que el enlace ocupe el espacio completo del contenedor */
  text-decoration: none; /* Quita el subrayado del enlace */
  transition: transform 0.2s ease, box-shadow 0.1s ease; /* Transición suave para el efecto de resalte */
}
