<h1 class="gallery-title">FRITOS</h1>

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div>
    <img class="gallery-img" src="../../../assets/img/fritos/347417953_278565994697642_7540246409196387594_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 1</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/fritos/347639695_278566198030955_3428181709102867973_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 2</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/fritos/353664327_278565768030998_6741693519681297952_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 3</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/fritos/353664327_278565768030998_6741693519681297952_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 4</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/fritos/408912426_371053032115604_3757168193190643491_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 5</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/fritos/347639695_278566198030955_3428181709102867973_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 6</p>
  </div>
</div>
