<h1 class="gallery-title">DELICIAS NAVIDEÑAS</h1>

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/delicias_navid/411157608_376184364935804_3799961332609511859_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 1</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/delicias_navid/400654379_359676229919951_1070685631195471309_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 2</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/delicias_navid/409170012_374562721764635_5510630719815797559_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 3</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/delicias_navid/409929548_376185244935716_57455011582080445_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 4</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/delicias_navid/409916590_374563888431185_6034816167510804569_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 5</p>
  </div>
  <div>
    <img class="gallery-img" src="../../../assets/img/navidad/delicias_navid/402086084_359676436586597_2146566502610592454_n.jpg" alt="">
    <p class="image-description">Descripción de la imagen 6</p>
  </div>
</div>
<app-whatsapp></app-whatsapp>
