<!-- sobre nosotros Section -->

<section >
  <div class="container mx-auto text-center px-6">

    <div
      class="menu-items grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6"
    >
      <div class="menu-item p-10  rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold mb-3">Mision</h3>
        <p class="text-gray-800 letra">
          "En La Explosión del Sabor, nos dedicamos a ofrecer productos de alta
          calidad que deleitan el paladar. Nos especializamos en fritos
          tradicionales, exquisitos combos empresariales y auténticas delicias
          navideñas, utilizando ingredientes frescos y recetas artesanales para
          asegurar una explosión de sabor en cada bocado. Nuestro compromiso es
          brindar alegría y satisfacción a nuestros clientes en cada ocasión
          especial y evento empresarial."
        </p>
      </div>
      <div class="menu-item p-6  rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold mb-3">Visión</h3>
        <p class="text-gray-900 letra">
          "Ser la empresa número uno en ofrecer una explosión de sabores
          auténticos y artesanales a través de nuestras delicias navideñas,
          fritos y combos empresariales, convirtiéndonos en el referente de
          calidad y creatividad en el sector alimenticio generando experiencias
          gastronómicas inolvidables y llevando la explosión del sabor a cada
          rincón del país.
        </p>
      </div>

    </div>
  </div>
</section>
<app-whatsapp></app-whatsapp>
