.menu-item
{
  background-color: rgba(121, 26, 26, 0.9);

  margin-bottom: 10px;
  border-radius: 10px;
}
.container{
  margin-top: 80px;
  margin-bottom: 30px;
}
p,h3{
  color: aliceblue;
  font-size: 25px;
}
h3{
  font-size: 45px;
  margin-bottom: 10px;
}
p{
  text-align: justify;
}
